body {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff
  }

.container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 0% 5% 2% 5%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#map { height: 400px; }